@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #945930;
}

body {
  background: url(image/fundo-madeira.jpg) center center no-repeat fixed;
  background-size: cover;
}

main {
  height: 100vh;
  position: relative;
}

#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  height: 627px;
}

iframe#tela {
  position: absolute;
  top: 80px;
  left: 22px;
  width: 267px;
  height: 471px;
}

#redes-sociais {
  text-align: right;
}

#redes-sociais img {
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 6px #00000077;
  box-sizing: border-box;
}

#redes-sociais img:hover {
  border: 1px solid #f0eeee;
  transform: scale(1.1);
  transition: all 0.2s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}
