@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #945930;
}

body {
  background: url(image/fundo-madeira.jpg) center center no-repeat fixed;
  background-size: cover;
}

main {
  height: 100vh;
  position: relative;
}

#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  height: 627px;
}

iframe#tela {
  position: absolute;
  top: 80px;
  left: 22px;
  width: 269px;
  height: 471px;
}

#redes-sociais img {
  height: 60px;
  margin: 13px;
}
